h1{
    background-color:#8469a8;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:20px;
    text-align: left;
    font-family: Comic Sans MS;
}
#btn{
    height:30px;

}

#sall{
    height:30px;
}


#section{
    background-color:#f3f3f3;
   
}